<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.mapper.BookStockCustomMapper">
    <update id="ChangebookStockById" parameterType="java.lang.Integer" >
        UPDATE book_stock set BookNumber = BookNumber - 1 ,UpdateTime = NOW() where BookId = #{id}
    </update>
    <update id="ChangeAddbookStockById" parameterType="java.lang.Integer" >
        UPDATE book_stock set BookNumber = BookNumber + 1 ,UpdateTime = NOW() where BookId = (SELECT BookId from borrow where borrow.BorrowId = #{id})
    </update>
</mapper>