<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.mapper.BorrowCustomMapper">
    <select id="CountUserBorrowBooks" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM borrow WHERE UserId = #{id} AND IsReturn = 0
    </select>
    <select id="BorrowBooksAllInfo" parameterType="com.bms.vo.BorrowBooksInfoVo" resultType="com.bms.vo.BorrowCustom">
        SELECT 
        book.BookName,
        book.BookAuthor,
        book.BookPicPath,
        borrow.BorrowId,
        borrow.BorrowDate,
        borrow.BorrowDay,
        IFNULL(a.RenewDay,0) AS RenewDay
        FROM borrow
        LEFT JOIN book
        ON book.BookId = borrow.BookId
        LEFT JOIN category
        ON category.CategoryId = book.CategoryId
        LEFT JOIN 
        (SELECT BorrowId,sum(RenewDay) AS RenewDay FROM book_renew GROUP BY BorrowId ) AS a
        ON borrow.BorrowId = a.BorrowId 
        WHERE borrow.UserId = #{userid} 
        AND borrow.IsReturn = #{isreturn}
        <if test="keyWord != null">
                AND book.BookName LIKE CONCAT('%',#{keyWord},'%')
        </if>
        <if test="startTime != null">
            AND book.BookEnterTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND book.BookEnterTime <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="category != null">
            AND category.CategoryName = #{category}
        </if>
        Limit #{pageSetVo.pageOffset},#{pageSetVo.pageValue}
    </select>
    <select id="CountBorrowBooksAllInfo" parameterType="com.bms.vo.BorrowBooksInfoVo" resultType="java.lang.Integer">
        SELECT 
            COUNT(1)
        FROM borrow
        LEFT JOIN book
        ON book.BookId = borrow.BookId
        LEFT JOIN category
        ON category.CategoryId = book.CategoryId
        LEFT JOIN 
        (SELECT BorrowId,sum(RenewDay) AS RenewDay FROM book_renew GROUP BY BorrowId ) AS a
        ON borrow.BorrowId = a.BorrowId 
        WHERE borrow.UserId = #{userid} 
        AND borrow.IsReturn = #{isreturn}
        <if test="keyWord != null">
                AND book.BookName LIKE CONCAT('%',#{keyWord},'%')
        </if>
        <if test="startTime != null">
            AND book.BookEnterTime <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null">
            AND book.BookEnterTime <![CDATA[ <= ]]> #{endTime}
        </if>
        <if test="category != null">
            AND category.CategoryName = #{category}
        </if>
    </select>
</mapper>