#user-info{
  width: 100%;
  height: 100%;
  margin-left: -100px;
   display: none;
}
.user-info-readonly {
  width: 400px;
  height: 500px;
  margin-left: 40%;
  margin-top: 30px;
  font-size: 0;
  background-color: white;
  position: absolute;
}
.user-info-readonly span {
    font-size: 14px;
    display: inline-block;
}
.user-info-ul li {
    margin-top: 10px;
}
.user-info-ul .btn {
    width: 100px;
    margin-left: 15px;
}
.user-a {
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: right;
}
.user-b {
    width: 200px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    margin-left: 10px;
}
.user-info-readonly img {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
.student-info-ul li{
  list-style: none;
  margin-top: 10px;
}
.user-update-password{
    width: 400px;
    height: 400px;
    position: absolute;
    left: 520px;
    top: 100px;
}
.user-update-password div {
    margin-top: 25px;
}
.input-group{

}
#basic-addon1{
    width: 120px;
}
#oldpassword,#newpassword,#againpassword{
    width: 300px;
}
.gotoreset{
    width: 100px;
    margin-top: 50px;
    margin-left: 50px;
}
.gotoupdatepassword{
    width: 100px;
    margin-top: 50px;
    margin-left: 100px;
}


